.box-header {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}
.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.box.box-primary {
    border-top-color: #3c8dbc;
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}

.profile-user-img {
    margin: 0 auto;
    width: 100px;
    padding: 3px;
    border: 3px solid #d2d6de;
}

.nav-tabs-custom {
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 3px;
}

.nav-tabs-custom>.nav-tabs {
    margin: 0;
    border-bottom-color: #f4f4f4;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.nav-tabs-custom>.nav-tabs>li:first-of-type {
    margin-left: 0;
}

.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #3c8dbc;
}

.nav-tabs-custom>.nav-tabs>li {
    border-top: 3px solid transparent;
    margin-bottom: -2px;
    margin-right: 5px;
}

.nav-tabs-custom>.tab-content {
    background: #fff;
    padding: 10px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.post {
    border-bottom: 1px solid #d2d6de;
    margin-bottom: 15px;
    padding-bottom: 15px;
    color: #666;
}

.post .user-block {
    margin-bottom: 15px;
}

.user-block .username {
    font-size: 16px;
    font-weight: 600;
    display: block;
    margin-left: 50px;
}

.user-block img {
    width: 40px;
    height: 40px;
    float: left;
}

.img-bordered-sm {
    border: 2px solid #d2d6de;
    padding: 2px;
}

.user-block .description {
    color: #999;
    font-size: 13px;
    display: block;
    margin-left: 50px;
}

.text-sm {
    font-size: 12px;
}

.link-black{
    color: #666;
}

textarea.form-control{
    height: 200px;
}